
input, button {
	font-family: 'Heebo', sans-serif;
	font-weight: bold;
	border-radius: 4px;
	padding: 5px;
	background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

body {
	background-image: url("sunsetlake.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
}

#display {
	margin:	7px 0px;
	background: rgba(210,199,195,0.8);
}

#container {
	background: rgba(255,255,255,0.3);
	padding: 20px 10px 20px 22px;
	margin: 40px;
	border-radius: 4px;
	max-width:180px;
}

.main-content{
	flex-wrap:wrap;
	max-width:70%;
	float:left;
}

.side-bar{
	align-items:stretch;
	margin: 1px 0px;
	width: 	22%;
}

#operator {
	width: 	23%;
}
.numBtn {
    margin: 2px 0px;
    padding: 4px 8px;
    width: 33.3%;
}
#clear {
	width: 	98%;
	background: rgba(251,187,169,0.4);
}

.extends-col{
	flex:1;
}

.d-flex{
	display:flex;
}

.bottom{
	width: 	48%;
	float: 	left;	
}
#equal {
	width: 	93%;
	background: rgba(210,199,195,0.8);
}